<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Lord</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/num.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/RButt.css}"/>

</head>
<body>
<h1 th:align="center">Diagnostics <span th:text="*{name}"></span>:</h1>


<form th:action="@{/desiase}"
      th:object="${desiaseForm}" th:align="center" method="POST">
    Desiase:
    <select name="user_city" th:field="*{diagnosis}" required>
        <optgroup label="Oftalmolog">
            <option value="67.010 Eye apple ache">Eye apple ache</option>
            <option value="67.020 Retinal tear">Retinal tear</option>
            <option value="67.030 Cists">Cists</option>
            <option value="67.040 Other">Other</option>
            <option value="67.050 Rainbow ache">Rainbow ache</option>
            <option value="67.060 Occlusion">Occlusion</option>
        </optgroup>
    </select>
<br>
    <div class="form_radio_btn">
        <input id="radio-1" type="radio" name="radio" value="TRUE" th:field="*{status}" checked>
        <label for="radio-1">TRUE</label>
    </div>

    <div class="form_radio_btn">
        <input id="radio-2" type="radio" name="radio" th:field="*{status}" value="FALSE">
        <label for="radio-2">FALSE</label>
    </div>

    <div class="form_radio_btn">
        <input id="radio-3" type="radio" name="radio" th:field="*{status}" value="?">
        <label for="radio-3">?</label>
    </div>
    <br>
    <input type="submit" value="SEND"/>
</form>
<div th:align="center">
    <table class="table" border="1" cellpadding="0">
        <thead>
        <tr>
            <th>Doctor</th>
            <th>Name</th>
            <th>Diagnosis</th>
            <th>Status</th>
            <th>Date</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="desiase : ${tempPerson}">
            <td th:utext="${desiase.type}">...</td>
            <td th:utext="${desiase.login_doctor}">...</td>
            <td th:utext="${desiase.diagnosis}">...</td>
            <td th:utext="${desiase.status}">...</td>
            <td th:utext="${desiase.date}">...</td>

        </tr>
        </tbody>

    </table>
</div>
<br/>

<ul th:align="center">
    <a th:href="*{link}" th:align="center">Back</a>
</ul>
<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}" th:align="center"
     style="color:red;font-style:italic;">
    ...
</div>
<div th:if="${errorBadMessage}" th:utext="${errorBadMessage}" th:align="center"
     style="color:red;font-style:italic;">
    ...
</div>
<div th:if="${errorNothingLordMessage}" th:utext="${errorNothingLordMessage}" th:align="center"
     style="color:red;font-style:italic;">
    ...
</div>


</body>
</html>